/* SETUP SNIPPET -----------------------------------------------------*/
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


/* STRIPPING STYLES -------------------------------------------------*/
html,
body, 
img, 
h1, 
h2, 
h3, 
a, 
p, 
ul, 
li,
button {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
}

/* TODO update fontsize with clamp */
/* GLOBAL STYLES -----------------------------------------------------*/
html {
  font-size: 62.5%;
}

body {
  background-image: url('https://drive.google.com/uc?export=view&id=1rTADLiO17cPnC9r2-h6awIfYiw4RrMbu');
  background-size: contain;
  background-repeat: no-repeat;
  
  /* color: #303030; */

  /* text-transform: lowercase;
  letter-spacing: 2px; */
}

h1, 
h2,
h3,
p,
a,
button{
  color: #303030;

  font-family: goudy-old-style, serif;
  text-transform: lowercase;
  letter-spacing: 2px;
  font-weight: 400;
}

h1 {
  font-size: 5rem;

  padding: 150px 0 5px 0;
}

h2 {
  font-size: 4rem;
  
  padding: 20px 0;
}

h3 {
  font-size: 3rem;
}

p {
  font-size: 1.8rem;
  font-style: italic;
}

img {
  width: 100%;
  height: auto;
}

button {
  background-color: #fffcf5;
  
  font-size: 1.6rem;

  padding: 15px 25px;
  margin: 10px 0;

  cursor: pointer;
  transition: all .4s;
}

button:hover,
button:focus {
  background-color: #fffcf585;
}

.wrapper {
  max-width: 1080;
  width: 85%;
  margin: auto;
}

.skip-link {
  background-color: #ddd;
  
  text-align: center;
  font-size: 2rem;

  border-radius: 4px;
  width: 225px;
  padding: 5px;

  position: absolute;
  left: -1000px;
  top: 0;
  z-index: 30;
}

.skip-link:focus {
  left: 0;
}

/* NAVIGATION STYLES -------------------------------------------------*/
.nav {
  background-color:#fffcf580;

  position: sticky;
  top: 0;
  z-index: 10;
}

.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav a {
  font-size: 1.7rem;
  letter-spacing: 3px;
  text-transform: uppercase;

  padding: 10px 20px;
}

nav a:hover,
nav a:focus {
  border-bottom: 1px solid #30303090;

  padding-bottom: 5px;
}

.nav-icons{
  display: flex;
}

.nav-icons button {
  background: none;

  font-size: 2rem;
}

.icon-button {
  opacity: .85;

  padding: 10px;

  transition: all .4s;
}

.icon-button:hover,
.icon-button:focus{
  background: none;

  opacity: .7;
}


/* HEADER STYLES -----------------------------------------------------*/
header {
  min-height: 60vh; 
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sunday {
  font-family: ltc-goudy-oldstyle-pro, serif;
  font-style: italic;
  letter-spacing: 3px;
}

.homework {
  font-weight: 500;
}

.tagline {
  font-size: 2.2rem;
}

/* WISHLIST STYLES ---------------------------------------------------*/
.wishlist {
  background-image: url('https://drive.google.com/uc?export=view&id=1NkeemhFav0YXOoyG8uN4341pm5VIhZg6');
  background-size: cover;
  background-repeat: no-repeat; 

  border-radius: 10px 0 0 10px;
  width: 50%;
  padding: 15px 30px 60px; 
  height: 100%;

  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;

  overflow-y: scroll; 
} 

.wishlist-header {
  position: relative;
}

.wishlist-header h2 {
  font-size: 4.5rem;

  padding: 60px 0 0 120px;
}

.exit-button {
  background: none;

  font-size: 3rem;

  position: absolute;
  top: 0;
  left: 0;
}

.wishlist-flex {
  padding: 20px 20px 20px 120px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wishlist-flex img {
  width: 30%;
}

.wishlist-flex p {
  width: 50%;
}

.wishlist-flex button {
  background: none;

  font-size: 2.4rem;
}

/* MODAL STYLES  -----------------------------------------------------*/
.modal {
  background-color: #30303090;

  width: 100%;
  height: 100%; 
  padding-top: 150px;

  position: fixed; 
  left: 0; 
  top: 0;
  bottom: 0;
  z-index: 100;
}

.modal-content {
  background-color: #ddd;

  border-radius: 10px;
  padding: 20px; 
  margin: auto; 
  width: 30%;  
  height: 30%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative; 

  animation-name: animatetop;
  animation-duration: 0.4s
}

.modal-content h3 {
  letter-spacing: 3px;

  padding-top: 20px;
}

.modal-content p {
  font-style: normal;
}

.modal-content p span {
  color: #e27474;
  
  font-style: italic;
  font-size: 2rem;
}

.close-modal {
  background: none;

  font-size: 3rem;  
  
  margin: 10px;

  position: absolute;
  top: 0;
  left: 0;
}

@keyframes animatetop {
  from {
      top: -300px; 
      opacity: 0;
  }

  to {
      top: 0; 
      opacity: 1;
  }
}

/* ITEM STYLES ----------------------------------------------------- */
.items {
  background-color: #ddd;

  text-align: center;
 
  padding: 60px 0;
}

.item-img {
  padding-bottom: 10px;

  position: relative;
}

.star-sticker {
  color: #ffd5a4;

  font-size: 3rem;

  position: absolute;
  top: 2%;
  right: 5%;
}

.items p {

  padding-top: 5px;
}

.items ul {
  padding: 80px 0;
  margin: auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 60px;
  
}

/* FOOTER STYLES ----------------------------------------------------- */
footer {
  background-color: #fffcf5;

  padding: 30px 0;
}

footer p {
  font-size: 1.6rem;
  font-style: normal;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-icons p {
  font-size: 1.8rem;
}

.icons {
  font-size: 2rem;
  text-align: center;

  padding: 10px;
}


/* MEDIA QUERIES  -----------------------------------------------------*/

/* portrait tablet + desktop */
@media(max-width: 940px) {

  body {
    background-size: cover;
  }

  .wishlist {
    width: 70%;
  }
}

/* landscape phone + protrait tablet */
@media(max-width: 768px) {

  nav a:hover,
  nav a:focus {
    border-bottom: none;

    font-weight: 600;

    padding-bottom: 0;
  }

  .flex-header {
    padding: 20px 0;

    flex-direction: column;
  }

  .wishlist {
    width: 100%;
  }

  .items ul {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
 
  .footer-flex {
    flex-direction: column;
    text-align: center;
  }

  .footer-text {
    padding-top: 20px;
    order: 1;
  }
}

/* landscape phones + down */
@media(max-width: 480px) {

  header {
    min-height: 50vh;
  }

  .wrapper {
    width: 95%;
  }

  .flex-header {
    flex-direction: row;
  }

  nav ul {
    flex-direction: column;
  }

  .wishlist {
    padding: 15px 15px 60px;
  }

  .wishlist-header h2 {
  font-size: 4.5rem;

  padding: 60px 0 0 0;
  }

  .wishlist-flex {
    padding: 20px 0;
  }

  .wishlist-flex img {
    padding: 5px;
  }

  .items ul {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 60px;
  }

  .item {
    margin: 0 20px;
  }
}

